<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Fantasy Fitness, Greg!</h1>
    <p>
      You received this email because someone invited you to join their league, <%= @league.name %>!
    </p>
    <img class="email-img" src="<%= @league.image_url %>" />
    <br>
    <p>Thanks for joining and have a great day!</p>
    <p>Fantasy Fitness</p>
  </body>
</html>
