<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" media="screen">
      /* Email styles need to be inline */
      body {
        font-family: sans-serif;
        color: black;
        padding: 2rem;
        text-align: center;
      }
      .email-img {
        width: 3rem;
        border-radius: 50%;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
